.home{
    height: 90vh;
    width: 100%;
    background-image: url("../assets/home.jpg");
    background-size: cover;
    background-position: top 70% left 10%;
}
.hero{
    height: 50vh;
    width:50vw;
    margin-left:5%;
}
h1{
    font-size: 4rem;
    font-weight:bold;
}
.action{
    display: flex;
    gap:1rem;
}
 #expo{
    border:none;
    background:Wheat;
    padding:20px 40px;
    color:white;
    font-weight: 400;
    font-size: large;
 }
 #order{
    background:none;
    padding: 20px 40px;
    font-weight: 400;
    font-size: large;
    color:wheat;
    border-color: wheat;
    border-style:solid;
 }
 #expo:hover,#order:hover{
    background:#DEAC80;
    color:white;
    border-color:#DEAC80 ;
 }
 